* {
  font-family: Arial;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.input-fields {
  display: relative;
}

.main-search {
  display: inline-block;
  height: 30px;
  width: 30%;
  margin-bottom: 20px;
}

.main-search__text {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  color: gray;
}

.searchButton {
  display: inline-block;
  background-color: skyblue;
  font-size: 1.5em;
  padding: 5px 10px;
  border-radius: 50%;
  vertical-align: -2px;
}

#infoDisplay{
  border-top: 13px lightgray double;
  width: 70%;
}

.also-see {
  color: gray;
  font-style: italic;
  font-size: 1em;
}
